<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/data-pages/deleteblog.css">
    <title>Delete Blog Post</title>
</head>
<body>
    <header>
        <div class="logo">
          <div class="logo-img">
              <img src="/Screenshots/logo.png" alt="logo-img"> 
          </div>
          <h3 class="app-name">Collin'sComprehensiveCookingChronicle</h3>
        </div>
        <nav class="navbar">
          <ul>
            <li id="navbar"><a href="/">Home</a></li>
          <% if(!currentUser) { %> 
          <li id="navbar"><a href="/auth/signup">Signup</a></li>
          <li id="navbar"><a href="/auth/login">Login</a></li>
          <% } else { %> 
          <li id="navbar"><a href="/auth/logout">Logout</a></li>
          <li id="navbar"><a href="/profile">Profile</a></li>
          <% } %> 
          <li id="navbar"><a href="/ingredients">Ingredients</a></li>
          <li id="navbar"><a href="/recipes">Recipes</a></li>
          <li id="navbar"><a href="/blogs">Blogs</a></li>
          </ul>
        </nav>

        <div class="delete-blog-header">
            <h1 class="heading">DELETE BLOG POST</h1>
        </div>

      </header>


      <div class="delete-container">

        <h1>ARE YOU SURE?</h1>

        <form action="/blogs/<%= blog.id %>/?_method=DELETE" method="POST">
        
        <div class="button">
            <input type="submit" class="button" id="button" value="YES, delete post">
        </div>

        <div class="button">
            <a href="/blogs/<%= blog.id %>">
                <button>NO, take me back</button>
            </a>
        </div>

        </form>

      </div>

</body>
</html>