@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Whisper&display=swap');

:root {
    --bg-color: #FEFFDE;
    --second-bg-color: #DDFFBC;
    --text-color: #52734D;
    --main-color: #91C788;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Indie Flower", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 1000px;
    height: 400px;
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.5fr;
    gap: 5px;
    padding: 10px;
    margin-left: 450px;
    background: var(--second-bg-color);
}

body {
    text-align: center;
    background: var(--bg-color);
}

.logo {
    grid-area: 1 / 1 / 3 / 2;
    margin-left: 15px;
    margin-top: 15px;
    padding: 15px;
    background: var(--second-bg-color);
}

.logo img {
    border: solid 3px var(--main-color);
}

.app-name {
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    text-align: center;
    background: var(--second-bg-color);
    padding: 13px;
}

ul {
    grid-column: 2;
    grid-row: 1;
    background: var(--second-bg-color);
}

#navbar {
    display: inline;
    border: solid 3px black;
    text-align: center;
    padding: 15px;
}

.navbar {
    grid-area: 1 / 2 / 2 / 8;
    background: var(--second-bg-color);
    list-style-type: none;
    margin-left: 10px;
    padding: 15px;
}

#navbar a:hover {
    color: white;
}

.blog-header {
    grid-area: 2 / 2 / 4 / 8;
    background: var(--second-bg-color);
    height: 300px;
    border: solid 3px var(--main-color);
    border-radius: 20px;
    margin-right: 15px;
    text-align: center;
}

.blog-header h2 {
    background: var(--second-bg-color);
    padding: 10px;
}

.heading {
    margin-top: 75px;
    background: var(--second-bg-color);
}

.button {
    width: 1000px;
    height: 60px;
    margin-left: 450px;
    padding-right: 20px;
    background: var(--second-bg-color);
    text-align: right;
}

button {
    padding: 5px;
    font-weight: 900;
    color: #c2413d;
}

.content-container {
    width: 1000px;
    background: var(--second-bg-color);
    margin-left: 450px;
}

.content-container .blog-img1 {
    background: var(--second-bg-color);
    height: 300px;
    padding-top: 20px;
}

.content-container .blog-img1 #blogimg2 {
    height: 266px;
}

.content-container .content-text1 {
}

.content-container .content-text2 {
}

.content-container p {
    background: var(--second-bg-color);
}

.content-container img {
    max-height: 400px;
    max-width: 400px;
}