<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ingredient</title>
</head>
<body>
    <header>
        <div class="logo">
          <div class="logo-img">
              <img src="/Screenshots/logo.png" alt="logo-img"> 
          </div>
          <h3 class="app-name">Collin'sComprehensiveCookingChronicle</h3>
        </div>
        <nav class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <% if(!currentUser) { %> 
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
            <% } else { %> 
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <% } %> 
            <li><a href="/ingredients">Ingredients</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/blogs">Blogs</a></li>
          </ul>
        </nav>
      </header>

      <div class="new-ing-header">
        <h1>Add a New <span id="new-ing-header">Ingredient</span></h1>
      </div>

      <div class="form-container">
        <a href="../data/allingredients.ejs">Go Back...</a>

        <form>
        
            <div class="ing-form">
                <label for="ingNameInput" class="form-label">Ingredient Name</label>
                <input type="text" class="form-control" id="ingNameInput">
            </div>
            <div class="ing-form">
                <label for="avgWeightInput" class="form-label">Average Weight</label>
                <input type="number" class="form-control" id="avgWeightInput">
            </div>
            <div class="ing-form">
                <label for="flavorInput" class="form-label">Flavor</label>
                <input type="text" class="form-control" id="flavorInput">
            </div>
            <div class="ing-form">
                <label for="edibleRawInput" class="form-label">Edible Raw?</label>
                <label for="yesRaw" class="form-label">Yes</label>
                <input type="radio" class="form-control" id="yesRaw" checked>
                <label for="noRaw" class="form-label">No</label>
                <input type="radio" class="form-control" id="noRaw">
            </div>
            <div class="ing-form">
                <label for="originInput" class="form-label">Origin</label>
                <input type="text" class="form-control" id="originInput">
            </div>
            <div class="ing-form">
                <label for="colorInput" class="form-label">Color</label>
                <input type="text" class="form-control" id="colorInput">
            </div>
            <div class="ing-form">
                <label for="scientificNameInput" class="form-label">Scientific Name</label>
                <input type="text" class="form-control" id="scientificNameInput">
            </div>
            <div class="ing-form">
                <label for="imageInput" class="form-label">Image (optional)</label>
                <input type="file" class="form-control" id="imageInput">
            </div>
            <div class="ing-form">
                <label for="submitButton" class="form-label">Submit</label>
                <input type="submit" class="form-control" id="submitButton">
            </div>

        </form>

        <div class="information-box">
            <h3>INFORMATION</h3>
            <ul>
                <li><p>Ingredients already found in the database will not be added</p></li>
                <li><p>Ingredient Names currently create case sensitive links</p></li>
                <li><p>Image is optional, only one is allowed</p></li>
            </ul>
        </div>

      </div>

</body>
</html>