<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/data-pages/allblogs.css"
    <title>All Blog Posts</title>
</head>
<body>
    <header>
      <div class="logo">
        <div class="logo-img">
            <img src="/Screenshots/logo.png" alt="logo-img"> 
        </div>
        <h3 class="app-name">Collin'sComprehensiveCookingChronicle</h3>
      </div>
      <nav class="navbar">
        <ul>
          <li id="navbar"><a href="/">Home</a></li>
          <% if(!currentUser) { %> 
          <li id="navbar"><a href="/auth/signup">Signup</a></li>
          <li id="navbar"><a href="/auth/login">Login</a></li>
          <% } else { %> 
          <li id="navbar"><a href="/auth/logout">Logout</a></li>
          <li id="navbar"><a href="/profile">Profile</a></li>
          <% } %> 
          <li id="navbar"><a href="/ingredients">Ingredients</a></li>
          <li id="navbar"><a href="/recipes">Recipes</a></li>
          <li id="navbar"><a href="/blogs">Blogs</a></li>
        </ul>
      </nav>

      <div class="all-blogs-header">
        <h1 class="heading">All <span id="all-blogs-header">Blogs</span></h1>
      </div>

    </header>
    <div class="button">
      <a href="/blogs/new">
        <button>Create a new blog post</button>
      </a>
    </div>
      <div class="blogs-container">
                <div class="blogs-box">
                    <% for(let i = 0; i < allBlogs.length; i++) { %>

                        <% let blog = allBlogs[i] %>
                        <div class="blogs-content">
                            <h3 class="blogs-card"><%= blog.title %></h3>
                            <a href="/blogs/<%= blog.id %>">Learn More</a>
                        </div>
                </div>
                <% } %>
      </div>
</body>
</html>